{% extends 'index.html' %}

{% block content %}

    <h2>Welcome to BioDataFuse User Interface!</h2>
        <p><strong>BioDataFuse</strong> is a cutting-edge Python tool designed to streamline the integration and analysis of diverse biomedical data sources. It addresses the challenges of harmonizing complex, multi-format data by offering a modular query-based framework, enabling seamless data wrangling and the creation of context-specific knowledge graphs. These graphs facilitate advanced graph-based analyses and visualizations, supporting researchers in uncovering insights from interconnected biomedical data.</p>
        
        <p>The core of BioDataFuse is its robust Python package, <a href="https://github.com/BioDataFuse/pyBiodatafuse" target="_blank">pyBiodatafuse</a>, which excels in aggregating and harmonizing data from various databases through modular queries. It supports integration with popular tools like Cytoscape and Neo4j for local graph hosting and offers dynamic graph construction capabilities. This allows users to generate knowledge graphs on the fly, tailored to specific research contexts. The tool emphasizes FAIR principles (Findability, Accessibility, Interoperability, and Reusability) in its design, ensuring that data integration and analysis processes are transparent and reproducible.</p>
        
        <p>BioDataFuse’s intuitive user interface, <strong>in beta</strong>, is designed to be accessible to non-programmers, ensuring that researchers from diverse backgrounds can leverage its powerful functionalities. Source code can be found <a href="https://github.com/BioDataFuse/biodatafuseUI" target="_blank">here</a>.</p>
        <p>In practical applications, BioDataFuse has demonstrated its utility in projects such as investigating post-COVID syndrome. By generating context-specific knowledge graphs and employing advanced algorithms like link prediction, BioDataFuse has identified potential drug candidates for repurposing, showcasing its potential to drive innovative solutions in biomedical research.</p>
        
        <p>BioDataFuse is open-source, with its source code and package available on GitHub and PyPi, respectively. The project is community-driven, continuously evolving with contributions from researchers and developers committed to advancing the integration and analysis of biomedical data.</p>
    </body>
    </html>

 {% endblock %}






