<!-- Mapping identifiers -->
<div class="container">
    <form id="id_mapper" action="/graph_creation/gc_id_mapper" method="post">   
        {% if not bridgedb_df_empty %}
        <div class="form-group">
            <div class="alert alert-success alert-sm" role="alert">
                <h4>Mapping Result</h4>
                Your input is valid:<br>
                <ul>
                    <li>Identifier type: {{ id_type }}</li>
                    <li>Number of input identifiers: {{ no_input_ids }}</li>
                </ul> 
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Confirm" onclick="submitConfirmInput()">
        </div>
        {% else %}
        <div class="alert alert-danger alert-sm" role="alert">
            Your input is not valid.
        </div>
        {% endif %}
    </form>
</div>    
