{% extends 'index.html' %}

{% block content %}

    <h2>Welcome to BioDataFuse User Interface!</h2>
    <p>Discover the power of seamless data integration with BioDataFuse! Our innovative tool empowers researchers to effortlessly combine diverse biomedical data resources, facilitating comprehensive analysis and interpretation.</p>
    <h2>What does BioDataFuse provide?</h2>
    <ul>
        <li>Integration of data resources on-the-fly.</li>
        <li>Development of modular framework for data wrangling.</li>
        <li>Opportunity for data owners to create context-specific knowledge graphs.</li>
        <li>Apply WYSIWYG allowing user to choose their desired data sources.</li> 
    </ul>

 {% endblock %}






