<h2>3. Select Datasource(s)</h2>
<!-- Step 4: Select datasources -->
<div class="container">
    <form id="datasource" action="/graph_creation/gc_datasource" method="post">
        <div class="form-group">
            <label for="datasource_selected">Datasource:</label>
            <select id="datasource_selected" name="datasource_selected" multiple>
                <option value="" disabled selected>Select at least one datasource</option>
                <option value="bgee">Bgee</option>
                <option value="disgenet">DisGeNET</option>
                <option value="minerva">MINERVA</option>
                <option value="molmedb">MolMeDB</option>
                <option value="opentargets">OpenTargets</option>
                <option value="string">STRING</option>
                <option value="wikidata">WikiData</option>
                <option value="wikipathways">WikiPathways</option>
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Next Step" onclick="submitStepFour()">
        </div>
    </form>
</div>
<div id="step5" style="display: none;">
    {% include 'gc_annotators.html' %}
</div>
<script>
    function submitStepFour() {
        var formData = new FormData(document.getElementById('datasource')); 
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/graph_creation/gc_datasource', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                document.getElementById('step5').innerHTML = xhr.responseText;
                document.getElementById('step5').style.display = 'block';
                document.getElementById('step5').scrollIntoView({ behavior: 'smooth' });
            } else {
                console.error(xhr.statusText);
            }
        };
        xhr.onerror = function () {
            console.error('Network Error');
        };
        xhr.send(formData);
    }
</script>