<!-- Step 3: Mapping identifiers -->
<div class="container">
    <form id="id_mapper" action="/graph_creation/gc_id_mapper" method="post">   
        <div class="form-group">
            {% if not bridgdb_df_empty %}
            <div class="alert alert-success alert-sm" role="alert">
                <h4>Mapping Result</h4>
                Your input is valid:<br>
                <ul>
                    <li>Identifier type: {{ id_type }}</li>
                    <li>Number of input identifiers: {{ no_input_ids }}</li>
                </ul> 
            </div>
            {% else %}
            <div class="alert alert-danger alert-sm" role="alert">
                Your input is not valid.
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="button" value="Confirm" onclick="submitStepThree()">
        </div>
    </form>
</div>    
<div id="step4" style="display: none;">
    {% include 'gc_datasource.html' %}
</div>
<script>
    function submitStepThree() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/graph_creation/gc_id_mapper', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                window.location.href = "/graph_creation/gc_datasource";
            } else {
                console.error(xhr.statusText);
            }
        };
        xhr.onerror = function () {
            console.error('Network Error');
        };
        xhr.send();
    }
</script>
