{% extends 'index.html' %}

{% block content %}

<div class="container">
    <h2>1. Import Identifiers</h2>
    <!-- Import identifiers -->
    <form id="id_input" action="/graph_creation" method="post" enctype="multipart/form-data">
        <div class="form-group" style="float: left; width: 50%;">
            <label for="text_input">Enter identifiers (one per line):</label>
            <textarea id="text_input" name="text_input" rows="4" cols="50">{{ request.form['text'] }}</textarea>
            <label for="file_upload">Or upload a file containing identifiers:</label>
            <input type="file" id="file_upload" name="file_upload" onchange="validateFile()">
        </div>
        <!-- Select identifier type -->
        <div class="form-group" style="float: right; width: 40%;">
            <label for="identifier_type">Identifier Type:</label>
            <select id="identifier_type" name="identifier_type">
                <option value="" disabled selected>Select identifier type</option>
                <option value="Ensembl">Ensembl</option>
                <option value="HGNC Accession Number">HGNC Accession Number</option>
                <option value="HGNC">HGNC Symbol</option>
                <option value="RefSeq">RefSeq</option>
                <option value="NCBI Gene">NCBI Gene</option>
                <option value="OMIM">OMIM</option>
                <option value="PDB">PDB</option>
                <option value="Uniprot-TrEMBL">Uniprot-TrEMBL</option>
                <option value="WikiGenes">WikiGenes</option>
            </select>
        </div>
        <div style="clear: both;"></div>
        <div class="form-group">
            <input type="button" value="Submit Input" onclick="submitInput()">
        </div>
        <div id="id_mapper" style="display: none;">
            {% include 'gc_id_mapper.html' %}
        </div>
    </form>
</div>

<script>
    function validateFile() {
        var fileInput = document.getElementById("file_upload");
        var file = fileInput.files[0];
        if (file) {
            var fileName = file.name;
            var fileExt = fileName.split(".").pop().toLowerCase();
            if (!["txt", "csv"].includes(fileExt)) {
                alert("Unsupported file format. Please upload a CSV or TXT file.");
                // Clear the file input field
                fileInput.value = "";
            }
        }
    }
    
    function submitInput() {
        var formData = new FormData(document.getElementById("id_input"));

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/graph_creation", true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                document.getElementById("id_mapper").innerHTML = xhr.responseText;
                document.getElementById("id_mapper").style.display = "block";
                document.getElementById("id_mapper").scrollIntoView({ behavior: "smooth" });
            } else {
                console.error(xhr.statusText);
            }
        };
        xhr.onerror = function () {
            console.error("Network Error");
        };
        xhr.send(formData);
    }
</script>
{% endblock %}