<!-- Mapping identifiers -->
<div class="container">
    <form id="id_mapper" action="/graph_creation/gc_id_mapper" method="post">   
        {% if not bridgdb_df_empty %}
        <div class="form-group">
            <div class="alert alert-success alert-sm" role="alert">
                <h4>Mapping Result</h4>
                Your input is valid:<br>
                <ul>
                    <li>Identifier type: {{ id_type }}</li>
                    <li>Number of input identifiers: {{ no_input_ids }}</li>
                </ul> 
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Confirm" onclick="submitStepTwo()">
        </div>
        {% else %}
        <div class="alert alert-danger alert-sm" role="alert">
            Your input is not valid.
        </div>
        {% endif %}
    </form>
</div>    
<div id="step3" style="display: none;">
    {% include 'gc_datasource.html' %}
</div>
<script>
    function submitStepTwo() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/graph_creation/gc_id_mapper', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                document.getElementById('step3').innerHTML = xhr.responseText; 
                document.getElementById('step3').style.display = 'block'; 
                document.getElementById('step3').scrollIntoView({ behavior: 'smooth' });
            } else {
                console.error(xhr.statusText);
            }
        };
        xhr.onerror = function () {
            console.error('Network Error');
        };
        xhr.send();
    }
</script>
