{% extends 'index.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>This component is still under development and aims to offer concise visualization summaries of the data encapsulated within the KG. It employs Python packages like Matplotlib, Seaborn, and Plotly for basic plots and network-specific summaries, facilitating a quick understanding of the data and its interconnections. Additionally, it incorporates graph algorithms for hypothesis generation based on the KG.</p>
{% endblock %}
