<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioDataFuse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="App Logo">
        <div>
            <h1>BioDataFuse</h1>
            <h2>Empowering Biomedical Data Integration</h2>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/graph_creation">Query Biological Databases</a></li>
            <li><a href="/graph_analysis">Analysis</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>

{% with messages = get_flashed_messages() %}
 {% if messages %}
  <h3>
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  </h3>
 {% endif %}
{% endwith %}
